#photo, img {
    max-width: 350px;
    margin-left: 40px;

}

#bigBox {
    /* background-color: blue; */
}

#quizHead {
    margin-top: 20px;
}

h4 {
    color: pink;
}

.test {
    color: pink;
}

.footer {
    margin-top: 50px;
}

.footLink {
    margin-right: 10px;
    font-size: 14px;
}